@using stajproje2.Models
@using PagedList;
@using PagedList.Mvc;
@model List<stajproje2.Models.Subeler>
@{
    ViewBag.Title = "Sube";
}

@using (Html.BeginForm())
{
    aaaaaaa

    <br />
    <br />
    <br />
    <br />
    <br />
    <h2>Sube Listesi</h2>

    <div class="container">

        @using (Html.BeginForm())
        {
            <div style="width:25%;float:left">
                @Html.TextBox("ara", null, new { @class = "form-control" });
            </div>
            <div style="float:left">

                @Html.ActionLink("Ara", "Sube", null, new {@style="height:35px;", @class = "btn btn-info", onclick = "$(this).parents('form').attr('action', $(this).attr('href'));$(this).parents('form').submit();return false;" })
            </div>
        }
    </div>

    <hr />
    <table id="tablo" style="font-size:14px; font-style:unset;" class="table table-bordered">
        <thead>
            <tr style="font-size:14px">
                <th>Sube Id </th>
                <th>Sube ad </th>
                <th>Sube İl </th>
                <th>Sube tel </th>
                <th>Sube adres </th>
                <th>Sil</th>
                <th>Güncelle</th>
                <th>Son İslem Tarihi</th>

            </tr>
        </thead>
        @foreach (var sub in Model)
        {

            <tr style="font-size:14px">

                <td>@sub.sube_id</td>
                <td>@sub.sube_ad</td>
                <td>@sub.sube_il</td>
                <td>@sub.sube_tel</td>
                <td>@sub.sube_adres</td>
                <td><a href="/Sil/Silsube/@sub.sube_id" style="font-size:18px" class="btn btn-danger">Sil</a></td>
                <td><a href="/Güncelleme/Güncellesube/@sub.sube_id" style="font-size:18px" class="btn btn-primary">Güncelle</a></td>
                <td>@sub.s_islem_tarihi</td>


            </tr>


        }
    </table>


}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tablo').dataTable({
        "paging": true,
        "searching": false,
        language: {
            info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
            infoEmpty: "Gösterilecek hiç kayıt yok.",
            loadingRecords: "Kayıtlar yükleniyor.",
            lengthMenu: "Sayfada _MENU_ kayıt göster",
            zeroRecords: "Tablo boş",
            search: "Arama:",
            infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
            buttons: {
                copyTitle: "Panoya kopyalandı.",
                copySuccess: "Panoya %d satır kopyalandı",
                copy: "Kopyala",
                print: "Yazdır",
            },


        }


    });


</script>


